* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

img, svg {
    display: block;
    width: 100%;
    height: inherit;
}

svg {
    fill: currentColor;
}

:root {
    font-size: 100%;
    scroll-behavior: smooth;

    --color-azul-oscuro:#22263a;
    --color-crema:#dba764; 
    --color-blanco-roto: #F2F2F2; 
}

body {
    font-family: 'Dancing Script', Poppins, ui-sans-serif, system-ui;
    font-weight: 900;
    font-size: 1.5rem;
    hyphens: auto;
    background-color: var(--color-blanco-roto); 
    color: #333333; 
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.cuadro{
    width: 100%;
    height: 45vh;

   background-color: var(--color-azul-oscuro);
}

.Asistencia-h1 {
    padding: 2rem;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    color:var(--color-crema); 
}

.Web-cuenta-regresiva.Falta {
    width: 80%;

    margin: 2rem auto;
}

.Falta-cuanto.Cuanto {
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    color:var(--color-crema);
}

.Cuanto-cuenta-atras.Tiempo {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color:var(--color-crema);
}
.tiempo {
    margin: auto;
    font-size: 4rem;
    font-weight: 900;
}




.cuadro-calendrio{
    width: 100%;
    height: 100vh;
}
.Web-calendario.Calendario {
    width: 70%;
    margin: auto;
}

.Calendario-Mes-titulo {
    text-align: center;
    font-size: 4rem;
    color: var(--color-crema); 
}

.Calendario-dias.Dias {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 2rem;
    font-size: 2.5rem;
}

.Dias-nombre {
    background-color: var(--color-azul-oscuro);
    border-radius: 5rem;
    text-align: center;
    color: var(--color-crema); 
}

.Dias-semana {
    padding: 2rem 0;
    text-align: center;
}

.Dias-semana.Inicio {
    grid-column-start: 6;
}

.Dias-semana.Boda {
    background-color: var(--color-crema); 
    border-radius: 5rem;
    box-shadow: 0 0 10px 5px rgba(212, 175, 55, 0.3);
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-blanco-roto); 
}

.Web-formulario.Formulario{
    width: 100%;
    height: 100vh;
    background-color: var(--color-azul-oscuro);
}
.Asistencia-recordatorio {
    margin: 2rem;
    font-size: 5rem;
    text-align: center;
    color: var(--color-crema); 
}

.Formulario-contenedor {
    width: 60%;
    height: 30rem;
    background-color: var(--color-azul-oscuro); 
    margin: auto;
    border-radius: 5rem;
    box-shadow: 0 0 10px 5px rgba(212, 175, 55, 0.3);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Formulario-h2 {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 4rem;
    color: var(--color-crema); 
}

.Formulario-nombre {
    color: var(--color-blanco-roto); 
}

.Formulario {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.Formulario-info {
    width: 80%;
    background-color: var(--color-blanco-roto); 
    margin: 1rem;
    font-size: 1.5rem;
}

.Mensaje {
    width: 80%;
    height: 5rem;
    overflow: hidden;
}

.Boton-enviar {
    width: 20%;
    height: 2rem;
    background-color: var(--color-crema); 
    border-radius: 5rem;
}
.Coctacanos.Contacto {
    width: 100%;
    height: 45vh;
    margin: auto;
    padding: 2rem 0 0 0;
}

.Contacto-contenedor {
    width: 80%;
    min-height: 15rem;
    background-color: var(--color-azul-oscuro);
    margin: auto;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: 0 0 10px 5px rgba(212, 175, 55, 0.3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.Contacto-redes.Redes {
    width: 20%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;

    color: var(--color-crema);
}
.contacto-Nicolle{
    color: var(--color-crema);
}
.contacto-Misael{
    color: var(--color-crema);
}
.bi.bi-redes {
    width: 100%;
}
.contacto-novios {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 2rem;
    color: var(--color-crema); 
}


@media(max-width:1920px){
    .Asistencia-h1{
       padding: 2rem 0; 
    }
    .Cuanto-cuenta-atras.Tiempo {
        height: 15rem;
        margin: auto;

        font-size:larger;
    }
    .Web-calendario.Calendario{
        width: 90%;
        padding: 4rem;
    }
    .Calendario-Mes-titulo{

        font-size: 7rem;
    }
    .Calendario-dias.Dias{
        font-size: 3rem;
    }
    .Asistencia-recordatorio{
        padding: 2rem;
        font-size: 6rem;
    }
    .Formulario-contenedor{
        width: 90%;
        height: 35rem;
    }
    .Formulario{
        font-size: 2.5rem;
    }
    .contacto-novios{
        font-size: 4rem;
    }
    .Contacto-contenedor {
        width: 90%;
        height: 20rem;
        padding: 5rem;
        font-size: 2rem;
    }
    .Boton-enviar{
        width: 30%;
        height: 2rem;
    }
    .Redes-li{
        width: 30%;
    }
}
@media(max-width:1440px){
    .Asistencia-h1{
        padding: 1rem 0;
    }
    .Web-cuenta-regresiva.Falta{
        margin: auto;
    }
    .Calendario-Mes-titulo{
        font-size: 5rem;
    }
    .Web-calendario.Calendario{
        padding: 2rem;
    }
    .Asistencia-recordatorio{
        padding: 1rem;
        font-size: 5rem;
    }
    .Formulario-h2{
        font-size: 3rem;
    }
    .Formulario-contenedor{
        height: 35rem;
    }
    .Formulario{
        font-size: 2rem;
    }
    .Boton-enviar{
        height: 3rem;
    }
}
@media(max-width:1366px){
    .Asistencia-h1{
        font-size: 4rem;
    }
    .Cuanto-cuenta-atras.Tiempo{
        height: 13rem;
    }
    .tiempo{
        font-weight: 200;
        font-size: 3rem;
    }
    .Calendario-Mes-titulo{
        font-size: 4rem;
    }
    .Calendario-dias.Dias{
        font-size: 2rem;
    }
    .Asistencia-recordatorio{
        margin: 1rem;
        font-size: 4rem;
    }
    .Formulario-contenedor{
        height: 32rem;
    }
    .Boton-enviar{
        height: 2rem;
    }
    .contacto-novios{
        font-size: 3rem;
    }
    .Contacto-contenedor{
        min-height: 15rem;
    }
}
@media(max-width:720px){
    .Asistencia-h1{
        padding: 2rem 0;
        font-size: 6rem;
    }
    .Cuanto-cuenta-atras.Tiempo{
        height: 23rem;
    }
    .tiempo{
        font-size: 4rem;
        font-weight: 600;
    }
    .Calendario-Mes-titulo{
        font-size: 6rem;
    }
    .Calendario-dias.Dia{
        padding: 2rem 0 0;
        font-size: 3rem;
    }
    .Dias-semana{
        height: 10rem;
        padding: 2rem 0;
    }
    .Dias-nombre {
        padding: 2rem 0 0;
        font-size: 3rem;
        height: 7rem;
    }
    .Dias-semana.Boda {
        width: 100%;
        height: 7rem;
    }
    .Asistencia-recordatorio{
        font-size: 5rem;
    }
    .Formulario-h2{
        font-size: 4rem;
    }
    .Formulario-contenedor{
        height: 50rem;
    }
    .Formulario{
        font-size: 2.7rem;
    }
    .Boton-enviar{
        width: 30%;
        height: 4rem;
    }
    .contacto-novios{
        padding: 2rem;
    }
    .Contacto-contenedor{
        flex-flow: column;
        min-height: 20rem;
    }
    .Redes-li{
        width: 80%;
    }
}
@media(max-width:375px){
    .Asistencia-h1{
        font-size: 3rem;
    }
    .Cuanto-cuenta-atras.Tiempo{
        height: 7rem;
    }
    .tiempo{
        width: 10%;
        font-size: 2rem;
    }
    .Web-calendario.Calendario {
        width: 100%;
    }
    .Calendario-Mes-titulo{
        font-size: 3rem;
    }
    .Dias-nombre{
        height: 3rem;
        padding: 1rem 0;
        font-size: 1rem;
    }
    .Calendario-dias.Dias{
        font-size: 1rem;
    }
    .Dias-semana.Boda{
        height: 2rem;

        font-size: 1rem;
    }
    .Dias-semana{
        height: 1rem;
    }
    .Web-calendario.Calendario{
        font-size: 2.5rem ;
    }
    .Web-calendario.Calendario{
        font-size: 2rem;
    }
    .Formulario-contenedor{
        height: 26rem;
    }
    .Asistencia-recordatorio{
        font-size: 2.5rem;
    }
    .Formulario-h2{
        font-size: 2rem;
    }
    .Formulario{
        font-size: 1.5rem;
    }
    .Formulario-info{
        width: 40%;
        height: 2rem;
        font-size: 1rem;
    }
    .Boton-enviar{
        width: 20%;
        height: 2rem;
    }
    .Coctacanos.Contacto{
        padding: 1rem;
    }
    .Formulario-contenedor{
        padding: 1rem 0;
    }
    .contacto-novios{
        font-size: 2rem;
        padding: 0;
    }
    .Contacto-contenedor{
        min-height: 4rem;
        padding: 3rem;
        flex-flow: column;
        gap: 1rem;
    }
    .contacto-Nicolle{
        font-size: 1rem;
    }
    .contacto-Misael{
        font-size: 1rem;
    }
}
